.program__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 83px;
}
.program__content {
  display: flex;
  gap: 30px;
}

@media (max-width: 375px) {
  .program__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 27px;
    margin-top: 25px;
  }
  .program__content {
    display: block;
  }
}
