.disciplines__list {
  flex-basis: 70%;
  line-height: 120%;
  .discipline::before {
    content: "\2022";
    color: #ff3535;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .discipline:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .disciplines__list {
    font-size: 15px;
    line-height: 130%;
    .discipline {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 35px;
      }
    }
    .discipline::before {
      margin-left: 0em;
    }
  }
}
