.moduleBtn {
  background: #f7f7f7;
  border: none;
  display: flex;
  padding: 15px 24px 18px 24px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  .icon {
    margin-right: 27px;
  }

  .numberModule {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
  }
}

.moduleBtnOpen {
  background: #ff3535;

  .numberModule {
    color: #ffffff;
  }
}

.list__content {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
