.h6 {
  flex-basis: 30%;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;

  .span {
    padding-top: 29px;
    border-top: 2px solid #ff3535;
  }
}

.ul {
  flex-basis: 70%;
  line-height: 120%;
  li::before {
    content: "\2022";
    color: #ff3535;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.div {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-bottom: 71px;
}

///////MobileView////////////////

@media (max-width: 375px) {
  .div {
    display: block;
    margin-bottom: 35px;
  }
  .ul {
    font-size: 15px;
    line-height: 130%;
    li {
      margin-bottom: 10px;
    }
    li::before {
      margin-left: 0em;
    }
  }
}

.moduleBtn {
  background: #f7f7f7;
  border: none;
  display: flex;
  padding: 15px 24px 18px 24px;
  align-items: center;
  width: 100%;
  margin-bottom: 17px;
  .plusIcon {
    margin-right: 27px;
  }
  .numberModule {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
  }
}
