.moduleNumber {
  flex-basis: 40%;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;

  .moduleNumber__inner {
    padding-top: 29px;
    border-top: 2px solid #ff3535;
  }
}

.module__content {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-bottom: 71px;
}

@media (max-width: 375px) {
  .module__content {
    &::last-child {
      margin-bottom: 150px;
    }
  }
}
