.h6 {
  flex-basis: 40%;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;

  .span {
    padding-top: 29px;
    border-top: 2px solid #ff3535;
  }
}

.ul {
  flex-basis: 60%;
  line-height: 120%;
  li::before {
    content: "\2022";
    color: #ff3535;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.module__content {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-bottom: 71px;
}

///////MobileView////////////////

@media (max-width: 375px) {
  .module__content {
    &::last-child {
      margin-bottom: 35px;
    }
  }
}
