.ul {
  flex-basis: 70%;
  line-height: 120%;
  li::before {
    content: "\2022";
    color: #ff3535;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 375px) {
  .ul {
    font-size: 15px;
    line-height: 130%;
    li {
      margin-bottom: 10px;
    }
    li::before {
      margin-left: 0em;
    }
  }
}

.moduleBtn {
  background: #f7f7f7;
  border: none;
  display: flex;
  padding: 15px 24px 18px 24px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  .icon {
    margin-right: 27px;
  }

  .numberModule {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
  }
}

.moduleBtnOpen {
  background: #ff3535;

  .numberModule {
    color: #ffffff;
  }
}

.list {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
